* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100dvw;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
}

th,
td {
  text-align: center;
}

ul li a {
  position: relative;
  color: #0087ca;
}

ul li a::after {
  content: "";
  position: absolute;
  width: 98%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  position: relative;
  margin-top: 1rem;
  bottom: 0;
  text-align: center;
  padding: 0.7rem;
  background-color: #fefae0;
}
